body{
    background-color: black;
  }
  input{
    background-color: greenyellow;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 150px;
    border-radius: 30px
    
  }
  .text-center{
    text-align: center;
  }